# Dependencies
node_modules

# Build output
dist
.next
out

# Environment variables
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Debug logs
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Testing
coverage

# Vercel
.vercel

# Supabase
supabase/.temp